<h1 class="text-3xl">Pokemons list</h1>
<h2 class="text-xl">Current page</h2>

<hr class="my-2" />

@if (pokemons().length > 0) {
<pokemons-list [pokemons]="pokemons()" />
} @else {
<pokemon-list-skeleton />
}

<!-- TODO: pokemons list skeleton -->
<!-- TODO: buttons for load previous and next pokemons -->
<div class="flex justify-between">
  <button
    [disabled]="currentPage() === 1"
    [routerLink]="['/pokemons/page', currentPage()! - 1]"
    routerLinkActive="router-link-active"
    class="mt-2"
  >
    previous
  </button>
  <button
    [disabled]="currentPage() === 33"
    [routerLink]="['/pokemons/page', currentPage()! + 1]"
    routerLinkActive="router-link-active"
    class="mt-2"
  >
    next
  </button>
</div>
